<section class="section recommandation">
  <div class="container center">
    <h3>RECOMMANDATION</h3>
    <p>BEST</p>

    <div class="wrapper clearfix">
      <div class="col-3">
        <img src="/static/images/recommandation/1.jpg">
      </div>
      <div class="col-3">
        <img src="/static/images/recommandation/2.jpg">
      </div>
      <div class="col-3">
        <img src="/static/images/recommandation/3.jpg">
      </div>
      <div class="col-3">
        <img src="/static/images/recommandation/4.jpg">
      </div>
    </div>
  </div>
</section>