<!DOCTYPE html>
<html ng-app="muybgmApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>MYUBGM</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/audio.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/audio_ie.css" />
    <link rel="stylesheet" type="text/css" href="/static/fullPage/dist/jquery.fullPage.css" />
    <% for (i = 0; i < css.length; i++) { %>
        <link rel="stylesheet" href="<%= css[i] %>">
    <% } %>
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/prefixfree.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/fullPage/dist/jquery.fullPage.js"></script>
    <script type="text/javascript" src="https://bkosborne.com/sites/all/themes/bootstrap_brian/js/jquery.waterwheelCarousel.min.js?p96zma"></script>
    
    <% for (i = 0; i < js.length; i++) { %>
        <script src="<%= js[i] %>"></script>
    <% } %>
</head>
<body>
  
