<nav class="container">
  <div class="wrapper-logo">
    <a href="/">
      <img src="/static/images/global/logo.png" class="logo">
    </a>
  </div>

  <ul class="menu" id="menu">
    <li data-menuanchor="about">
      <a href="#about" class="active" >ABOUT</a>
    </li>
    <li data-menuanchor="randomMusic">
      <a href="#randomMusic">RANDOM MUSIC</a>
    </li>
    <li data-menuanchor="category">
      <a href="#category">CATEGORY</a>
    </li>
    <li data-menuanchor="recommandation">
      <a href="#recommandation">
        RECOMMANDATION
      </a>
    </li>
  </ul>
</nav>