<nav>
  <div class="wrapper-logo">
    <a href="/">
      <img src="/static/images/global/logo.png" class="logo">
    </a>
  </div>

  <ul class="menu">
    <li>
      <a href="#">ABOUT</a>
    </li>
    <li>
      <a href="#">RANDOM MUSIC</a>
    </li>
    <li>
      <a href="#">CATEGORY</a>
    </li>
    <li>
      <a href="#">
        RECOMMANDATION
      </a>
    </li>
  </ul>
</nav>