<% include ./variables/index.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>
<main id="fullpage" ng-controller="mainCtrl">
  <% include ./partials/index/about.ejs %>
  <% include ./partials/index/randomMusic.ejs %>
  <% include ./partials/index/category.ejs %>
  <% include ./partials/index/recommandation.ejs %>
</main>
<% include ./partials/index/modal.ejs %>
<% include ./partials/footer.ejs %>
