<% include ./variables/index.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<main id="fullpage">
  <section class="section about">
    <div class="container center clearfix">
      <div class="col-6">
        <img src="/static/images/about/about_albums.png" class="albums">
      </div>
      <div class="col-6">
        <div class="wrapper-text">
          <div class="inner-text">
              MYUBGM은 Music + BackGroundMusic의 줄임말로 <br>
              음악과 배경음악을 주로 다루는 것을 나타내었습니다 <br><br>
   
             MYUBGM에서는 주로 애니메이션, 영화, 게임에서 나오는 <br>
             음악과 배경음악들을 소개하며 동시에 앨범 구매를 지원합니다 <br><br>
             
             RANDOM MUSIC에서 다양한 노래들을 랜덤으로 들을 수 있으며 <br>
             CATEGORY에서는 장르 분류별 노래들을 들을 수 있습니다 <br>
             RECOMMANDATION 에서는 주 마다 인기있던 음악들을 추천합니다
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section randomMusic">
    <h1>RandomMusic</h1>
  </section>

  <section class="section category">
    <h1>Category</h1>
  </section>

  <section class="section recommandation">
    <h1>Recommandation</h1>
  </section>
</main>
<% include ./partials/footer.ejs %>
